<div class="modal fade show" tabindex="-1" style="display: block; z-index: 2000;">
    <a 
    routerLink="/" 
    class="modal-backdrop fade show d-block" style="--bs-backdrop-zindex:none;">
  </a>
    <div class="modal-dialog">
      <div class="modal-content">
            <h2 class="p-2 d-flex justify-content-center">הוספת משימה</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div>
                    <ul>
                        <li>
                            <div>
                                <label for="title" class="form-label">כותרת</label>
                                <input type="text" name="title" class="form-control" formControlName="title" />
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="isInvalid('title')">
                                שדה חובה
                            </div>
                        </li>
                        <li>
                            <div class="mb-3">
                                <label for="description" class="form-label">תיאור</label>
                                <textarea type="text" name="description" class="form-control" formControlName="description"></textarea>
                            </div>
                        </li>
                        <li>
                            <div class="mb-3">
                                <label for="priority" class="form-label">עדיפות</label>
                                <select class="form-select" formControlName="priority">
                                    <option *ngFor="let option of priorityOptions" [ngValue]="option.value">
                                      {{ option.label }}
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="deadline" class="form-label">תאריך</label>
                                <input type="date" name="deadline" class="form-control" formControlName="deadline"/>
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="isInvalid('deadline')">
                                שדה חובה
                            </div>
                        </li>
                        <li>
                            <div class="mb-3">
                                <label class="form-label">סטטוס</label>
                                <select class="form-select" formControlName="status">
                                    <option *ngFor="let option of statusOptions" [ngValue]="option.value">
                                      {{ option.label }}
                                    </option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="p-2 d-flex justify-content-center">
                    <app-button type="submit" label="ערוך משימה"></app-button>
                    <a routerLink="/" class="cancel-button btn btn-outline-primary">ביטול</a>
                </div>
            </form>
      </div>
    </div>
  </div>